.header
  nav.header__nav
    .header__nav-links
      ul.header__list
        li.header__item
          a.header__logo(href) 
            h1.header__logo-text Ehrlich IT Services
        li.header__item
          a(href) Home
        li.header__item
          a(href) Foo
        li.header__item
          a(href) Bar
    .header__nav-profile
      ul.header__list
        li.header__item.header__item--profile
          span Hi, Bastian!
          .header__avatar
      
