doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=yes")
    title Sample Page
    //- --START-- Global Stylesheets //
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="https://unpkg.com/flickity@2/dist/flickity.min.css")
    link(rel="stylesheet", href="css/style.css")
    //- --END-- Global Stylesheets //
  body
    header
      include header.pug
    main
      block content
    footer
      include footer.pug
    //- --START-- Default scripts
    script(src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js")
    script(src="./js/main.js", defer)
    //- --END-- Default scripts
