@use '../settings/color' as color;
@use '../settings/font-family' as font-family;
@use '../tools/mixin' as mixin;
@use '../tools/media-queries' as mq;

html,
body {
  font-family: font-family.$roboto-mono;
  font-size: 10px;
  scroll-behavior: smooth;
}

.overflow {
  overflow: hidden;
}

.container {
  @include mixin.max-width;
}
