@import "foundation-sites/scss/foundation";
@include foundation-everything;

// Globals
@import 'elements/reset';
@import 'elements/global';

// Components
@import 'settings/color';


// // Common
@import 'components/common/text';
