@mixin center($disp: flex, $align: center, $justify: center) {
  display: $disp;
  align-items: $align;
  justify-content: $justify;
}

@mixin max-width {
  width: 100%;
  max-width: calc(1265px + 88px * 2);
  margin: 0 auto;
  padding-left: 88px;
  padding-right: 88px;
  box-sizing: border-box;

  @media (max-width: 1440px) {
    padding-left: 4%;
    padding-right: 4%;
    max-width: none;
  }

  @media (max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}
